<div class="msg-box">
<div class="row msg_buttons">
    <div class="btn_close">
        <mat-dialog-actions>
            <button class="btn btn-primary " (click)="close()">X</button>
            <button class="btn btn-primary " (click)="getMsg()">O</button>
        </mat-dialog-actions>
    </div>
            
</div>
<div class="container messageDialog">
    <div class="row">
        <div>
            <div class="msg-holder" *ngFor="let message of messages">

                <div class="{{isSelfName(message.sender.userName)}}"><strong>{{message.sender.firstName}}</strong></div>
                <div class="{{isSelf(message.sender.userName)}}">
                    <p>{{message.message}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row msg-form">
        <form class="p-3 mb-5 rounded" (ngSubmit)="sendMsg(sendmsg)" #sendmsg="ngForm">
            <input name="msg" id="msg" #msg ngModel>
            <button type="submit" class="btn btn-primary ">siusti</button>
        </form>
    </div>
</div>
</div>