<app-navbar></app-navbar>
<div class="container">
    <div class="table-responsive loan-post-table">
        <table class="table table-striped table-light table-sm">
            <thead>
                <tr>
                    <th *ngFor="let column of tableHeaders" scope="col">
                        {{column}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of posts; let i = index" class="loan-post-table-rows">
                    <td scope="row">
                        {{row.loanPostId}}
                    </td>
                    <td>
                        {{row.ammount}} €
                    </td>
                    <td>
                        {{this.getReasonName(i)}}
                    </td>
                    <td>
                        {{row.timestamp}}
                    </td>
                    <td>
                        {{row.intrest}}
                    </td>
                    <td>
                        {{row.duration}}
                    </td>
                    <td>
                        <button class="btn btn-primary address-book-btn" type="button" (click)="openLoanPostDialog(row)">Daugiau info</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="container loan-post-cards">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators lines">
                    <li *ngFor="let item of posts; let i = index" data-target="#myCarousel" data-slide-to="{{i}}" class="{{isFirstActive(i)}}"></li>
                </ol>

                <div class="carousel-inner">
            <div *ngFor="let item of posts; let i = index" class="carousel-item {{isFirstActive(i)}}">
                <div >
                    <div class="card">
                        <div class="row divider">
                            <h5 class="card-lable col-sm-6">Paskolos ID</h5>
                            <h5 class="crad-value col-sm-6">{{item.loanPostId}}</h5>
                        </div>
                        <div class="row divider">
                            <p class="card-lable col-sm-6">Paskolos kiekis</p>
                            <p class="crad-value col-sm-6">{{item.ammount}} €</p>
                        </div>
                        <div class="row divider">
                            <p class="card-lable col-sm-6">Paskolos tikslas</p>
                            <p class="crad-value col-sm-6">{{this.getReasonName(i)}}</p>
                        </div>
                        <div class="row divider">
                            <p class="card-lable col-sm-6">Paskolos paskelbimo data</p>
                            <p class="crad-value col-sm-6">{{item.timestamp}}</p>
                        </div>
                        <div class="row divider">
                            <p class="card-lable col-sm-6">Palūkanų kiekis</p>
                            <p class="crad-value col-sm-6">{{item.intrest}}</p>
                        </div>
                        <div class="row">
                            <p class="card-lable col-sm-6">Paskolos trukmė</p>
                            <p class="crad-value col-sm-6">{{item.duration}}</p>
                        </div>
                        <div class="row carousel-loan-btn">
                            <button class="btn btn-primary address-book-btn" type="button" (click)="openLoanPostDialog(item)">Daugiau info</button>
                        </div>
                        <div class="row"> <p></p></div>
                    </div>
                </div>
            </div>
            </div>

            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
        </div>
    </div>

    <div class="row">
        <app-chat></app-chat>
    </div>
</div>