<app-navbar></app-navbar>
<div class="container">
    

<div class="row">
<div class="col-sm-7 contents-add-loan-post">
    <form (ngSubmit)="submitForm(AddNewPostform)" #AddNewPostform="ngForm">
        <div class="form-group row">
            <label for="loanAmmount" class="col-sm-4 col-form-label d-flex justify-content-center">Paskolos suma</label>
            <div class="col-sm-8 login-input d-flex justify-content-center">
                <input type="number" class="form-control loan-input" name="loanAmmount" id="loanAmmount" #loanAmmount ngModel>
            </div>
        </div>

        <div class="form-group row">
            <label for="loanReason" class="col-sm-4 col-form-label d-flex justify-content-center">Paskolos paskirtis</label>
            <div class="col-sm-8 login-input d-flex justify-content-center">
                <!-- <input type="text" class="form-control" name="loanReason" id="loanReason" #loanReason ngModel> -->
                <select class="form-select loan-input" aria-label="Paskolos Paskirtis" name="loanReason" id="loanReason" #loanReason ngModel>
                    <option *ngFor="let item of reasons; let i = index" value="{{i}}">{{item.reasonName}}</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="intrest" class="col-sm-4 col-form-label d-flex justify-content-center">Palūkanos</label>
            <div class="col-sm-8 login-input d-flex justify-content-center">
                <input type="number" class="form-control loan-input" name="intrest" id="intrest" #intrest ngModel>
            </div>
        </div>

        <div class="form-group row">
            <label for="duration" class="col-sm-4 col-form-label d-flex justify-content-center">Terminas</label>
            <div class="col-sm-8 login-input d-flex justify-content-center">
                <input type="number" class="form-control loan-input" name="duration" id="duration" #duration ngModel>
            </div>
        </div>

        <div class="form-group row">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mb-2 my-3">Įdėti paskolos skelbimą</button>
            </div>
        </div>
    </form>
</div>

<div class="col-sm-5">
    <app-interest-calc></app-interest-calc>
</div>
</div>
<!-- IMPORTANT NOTE: this is only for testing purposes -->
<div class="row">
    <app-chat></app-chat>
</div>
</div>