<button class="btn btn-primary" id="User" type="button" [matMenuTriggerFor]="UserMenu" [matBadge]="getNotificationBadge()" matBadgeColor="accent">{{userFirstName}}</button>

<mat-menu #UserMenu>
    <button mat-menu-item [matMenuTriggerFor]="AddressBook">Adresų knyga</button>
    <button mat-menu-item [matMenuTriggerFor]="Notifications">Pranesimai</button>
    <button mat-menu-item [matMenuTriggerFor]="Messages">Kontaktai</button>
</mat-menu>

<mat-menu #AddressBook class="address-book">
    <div *ngFor="let item of users">
        <button class="btn btn-primary address-book-btn" type="button" (click)="getId(item.userName)">{{item.userName}}</button>
    </div>
</mat-menu>

<mat-menu #Notifications class="address-book">
    <div *ngFor="let notification of notifications">
        <button class="btn btn-primary address-book-btn" type="button" (click)="
        openNotificationDialgo(notification)">Gautas pranešimas {{notification.id}}</button>
    </div>
</mat-menu>

<mat-menu #Messages class="address-book">
    <div *ngFor="let room of currentUser.roomList">
        <button class="btn btn-primary address-book-btn" type="button" (click)="openMessagingDialog(room)">Pokalbiu kambary nr. {{getUserFromNoti(room)}}</button>
    </div>
</mat-menu>