.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #ffcc66;
    border-color: #ffcc66;
    color: black;
}

#User {
    margin-left: 1rem;
    margin-right: 1rem;
}

.address-book-btn {
    width: 100%;
    background-color: white;
    border-color: white;
}

.address-book {
    background-color: #ffcc66;
}