.login {
    margin-top: 10%;
}

.login-input {
   width: 50%;
   float: right;
}

.reg-panel {
    justify-content: center !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #ffcc66;
    border-color: #ffcc66;
    color: black;
}
