<!-- NOTE: Needs to be added to every component becouse of state managment -->
<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand mx-5" href="/main_page">LOGO</a>
    <a class="navbar-brand mx-5" href="/loan_posts">Paskolų skelbimai</a>
    <a class="navbar-brand mx-5" href="/add_loan_post">Idėti paskolų skelbimą</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse mx-5" id="navbarNav">
        <div *ngIf="isLogedIn; else elseblock">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Prisijungti/Registruotis</a>
                </li>
                <!-- <li>
                <a (click)="openDialog()"><img src="assets/img/power-button-icon-.png" width="25" height="25" matTooltip="Atsijungti" class="d-flex align-items-center"></a>
            </li> -->
            </ul>
        </div>
    </div>
</nav>
<ng-template #elseblock>
    <ul class="navbar-nav">
        <li>
            <app-sidenav></app-sidenav>
        </li>
        <li>
            <app-user-menu></app-user-menu>
        </li>
        <li>
            <a (click)="openDialog()"><img src="assets/img/power-button-icon-.png" width="25" height="25"
                    matTooltip="Atsijungti" class="d-flex align-items-center" alt="Atsijungti"></a>
        </li>
    </ul>
</ng-template>