.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #ffcc66;
    border-color: #ffcc66;
    color: black;
}

.vallidators{
    padding-left: 25px;
    color: red;
    display: none;
}

#wrongName{}
#wrongLastName{}
#noUserName{}
#existingUserName{}
#wrongEmail{}
#noPassword{}
#wrongConfirmPass{}