mat-slider {
    width: 65%;
  }

.interest-clac {
    border-style: solid;
    border-width: 1px;
    border-color: #ffcc66;
}

.btn:focus,
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #ffcc66;
    border-color: #ffcc66;
    color: black;
}

.labelText {
    text-align: center;
}