mat-slider {
    width: 65%;
  }

.interest-clac {
    /* NOTE: i don't know with looks better: with border or without borders */
    /* border-style: solid;
    border-width: 1px;
    border-color: #ffcc66; */
}

.btn:focus,
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #ffcc66;
    border-color: #ffcc66;
    color: black;
}

.labelText {
    text-align: center;
}

.interest-clac {
    /* background-color: rgba(255, 255, 255, .2);  
    backdrop-filter: blur(100px); */
    background-color: white;
    border-radius: 50px;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}
