<div class="interest-clac">
    <div>
        <label class="d-flex justify-content-center">Palūkanų skaičiuoklė</label>
    </div>
    <form class=" p-3 mb-5 rounded">
        <!-- NOTE: this is input for how mutch money -->
        <div class="form-group row">
            <div class="row d-flex justify-content-center">
            <label for="ammount" class="col-sm-12 col-form-label d-flex justify-content-center labelText">Pinigų suma</label>
            </div>
            <div class="row d-flex justify-content-center">
            <div class="col-sm-7">
                <input type="number" class="form-control" id="ammount" #ammount (input)="changeResult(ammount.value, interest.value, interestFreak.value, loanTime.value)">
            </div>
        </div>
        </div>

        <!-- NOTE: this is interest % -->
        <div class="form-group row">
            <div class="row d-flex justify-content-center">
                <label for="interest" class="col-sm-12 col-form-label d-flex justify-content-center labelText">Palukanu kiekis
                    {{interest.value}}%</label>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 d-flex justify-content-center">
                    <!-- <input type="number" class="form-control" id=interest #interest> -->
                    <mat-slider thumbLabel tickInterval="1" min="1" max="100" #interest (input)="changeResult(ammount.value, interest.value, interestFreak.value, loanTime.value)"></mat-slider>
                </div>
            </div>
        </div>

        <!-- NOTE: this is loan time -->
        <div class="form-group row">
            <div class="row d-flex justify-content-center">
                <label for="loanTime" class="col-sm-12 col-form-label d-flex justify-content-center labelText">Paskolos Laikotarpis {{loanTime.value}}
                    mėn.</label>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 d-flex justify-content-center">
                    <!-- <input type="number" class="form-control" id=loanTime #loanTime> -->
                    <mat-slider thumbLabel tickInterval="1" min="1" max="76" #loanTime (input)="changeResult(ammount.value, interest.value, interestFreak.value, loanTime.value)"></mat-slider>
                </div>
            </div>
        </div>

        <!-- NOTE: this is interest freaquancy -->
        <div class="form-group row">
            <div class="row d-flex justify-content-center">
                <label for="interestFreak" class="col-sm-12 col-form-label d-flex justify-content-center labelText">Kas mėnesį palūkanos bus skaičiuojamos {{interestFreak.value}} kartų</label>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 d-flex justify-content-center">
                    <!-- <input type="number" class="form-control" id=interestFreak #interestFreak> -->
                    <mat-slider thumbLabel tickInterval="1" min="1" max="76" #interestFreak (input)="changeResult(ammount.value, interest.value, interestFreak.value, loanTime.value)"></mat-slider>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <!-- <div class="col-sm-4"></div> -->
            <div class="col-sm-12 d-flex justify-content-center">
                <button class="btn btn-primary mb-2">Visa gražinama suma: {{result}}</button>
            </div>
        </div>
    </form>
</div>