<!-- <p>main-page works!</p>
<p>{{name}}</p> -->
<app-navbar></app-navbar>
<div class="row">
<div class="col-sm-7">
    <div class="jumbotron jumbotron-fluid">
        <p>Karolis Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia distinctio sunt vel inventore dolorum? Amet totam voluptate quibusdam unde qui rerum voluptatibus aliquid natus corrupti, maxime repellendus harum alias perspiciatis.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex suscipit ratione quo possimus quam accusamus recusandae cum minima, est harum ipsa, officiis aliquid aliquam unde commodi ipsum quaerat. Recusandae, et?
        </p>

    </div>
</div>
<div class="col-sm-5">
    <app-interest-calc></app-interest-calc>
</div>
<!-- IMPORTANT NOTE: this is only for testing purposes -->
<div class="row">
    <!-- <app-chat></app-chat> -->
</div>
</div>