.chat{
  margin-top: 5rem;
  margin-bottom: 10rem;
}

div.chat-content{
  border-radius: .25rem;
  height: 40rem;
  margin-bottom: 2rem;
}

.card{
  height: 100%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #ffcc66;
    border-color: #ffcc66;
    color: black;
}
